body.a-index {
  ul#version-type-list, ul#version-type-list li {
    display: inline;
  }

  div#p-revert-listing {
    display: flex;

    table.striped {
      flex: 1; 
    }
  }

  div#p-revert-listing  > article.post-preview {
    margin-top: 2em;
  }
}
